<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYxVwKhUvSa8oWprKCNPB8Ke44vo8WW20</string>
	<key>GCM_SENDER_ID</key>
	<string>135625632864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rtKarateAcademy</string>
	<key>PROJECT_ID</key>
	<string>karate-academy-9ae4b</string>
	<key>STORAGE_BUCKET</key>
	<string>karate-academy-9ae4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135625632864:ios:4b4f2f6a83f5afe59ce705</string>
</dict>
</plist>